# Garbage Files
.DS_Store
*/.DS_Store

# Database Files
app.db
*/app.db
instance
*/instance
migrations
*/migrations

# Python Caching Files
__pycache__
*/__pycache__

# Locked Version States for Python
Pipfile.lock
*/Pipfile.lock

# Raw Dataset(s)
data
*/data

# API Keys/Tokens
keys.py
*/keys.py

# Virtual Environment Stuffs
.env 
*/.env
.venv
*/.venv

# API Keys/Tokens
keys.py
*/keys.py

#NPM Dependencies
node_modules
*/node_modules