/* CSS/CreateAccountForm.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
}

/* Container for the sign-up form */
.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 1000px;
  /* max-width: 800px; */
}

/* Left side with text and social media sign-up options */
.left {
  padding: 40px;
  flex: 1;
  background-color: lightgrey;
  color: black;
  text-align: center;
}

.left h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.left p {
  font-size: 16px;
}

/* Social media sign-up buttons */
.social-media-signup {
  display: inline-flex;
  flex-direction: row;
  /* margin-top: 40px; */
  margin: 25px;
  align-items: center;
}

.social-media-button {
  background-color: #fff;
  color: #1e90ff;
  border: 1px solid #1e90ff;
  border-radius: 4px;
  padding: 11px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 142px;
  margin: 4px;
}

.social-media-button:hover {
  background-color: #1e90ff;
  color: #fff;
}

/* Right side with the sign-up form */
.right {
  flex: 1;
  padding: 40px;
}

/* Form styles */
.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
  background-color: #007acc;
}

/* Error message */
.error {
  color: #f44336;
  font-size: 14px;
  margin-top: 4px;
}

/* Responsive design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left {
    order: 2;
    background-color: #fff;
    text-align: center;
  }

  .right {
    order: 1;
  }
}
